<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/dropdownStyle.css">
    <link rel="stylesheet" href="css/addingWindowStyle.css">
    <link rel="stylesheet" href="css/adderInfoStyle.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topBar">
        <div class="buttonsBar">
            <text id="sysActions">Система</text>
            <text id="directActions">Управление</text>
            <text id="userActions">Пользователь</text>
        </div>
        <div class="weatherBar">
            <text>Обновление</text>
            <img src="img/loading.gif" class="loading" style="width: 20px; height: 20px;">
        </div>
    </div>

    <div class="main">
        <div class="display">
            <div class="vision">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">ТВ1</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">ТВ2</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">ТВ3</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="divCenterHolder tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="gotImage"><img class="gotImg" th:src="${src}"></div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
                </div>

                <div class="thermalCameraActionRow">
                    <div class="navigateButtons">
                        <div class="up"><div>↑</div></div>
                        <div class="down"><div>↓</div></div>
                        <div class="right"><div>→</div></div>
                        <div class="left"><div>←</div></div>
                    </div>
                    <div class="thermalCameraInfoHolder">
                        <div class="step"><text>Шаг переноса:</text> <input id="step" type="text" value="5.0"></div>
                        <div class="declination"><text>Горизонтальное склонение:</text> <input class="change" th:value="${horizontal}" id="horizontal" type="text" value="32.0"></div>
                        <div class="declination"><text>Вертикальное склонение:</text> <input class="change" th:value="${vertical}" id="vertical" type="text" value="11.0"></div>
                        <div class="focusing"><text>Фокусировка:</text> <input class="change" type="number" min="200" max="5000" th:value="${focusing}" id="focusing"></div>
                    </div>
                </div>
            </div>

            <div class="visionActions">
                <div class="visionActionButton" id="newArea" title="Добавить область на карту">+А</div>
                <div class="visionActionButton" id="autoFocusing" title="Сфокусироваться">F</div>
                <div class="visionActionButton" id="help" title="Справка">?</div>
            </div>
        </div>

        <div class="list ">
            <div class="myRow" style=" width: calc(100% - 8px);height: 28px; padding: 4px; background-color: white; border-bottom: 2px solid darkgray"><b>Участки наблюдения</b></b></div>
            <div class="myRow areaInfo newButton">
                <text>Cоздать новый</text><b>+</b>
            </div>
            <div class="myRow chooseAble">
                <div th:each="controlObject : ${controlObjects}" class="myRow areaInfo" th:id="${controlObject.id}">
                    <text th:utext="${controlObject.name}"></text>
                    <div class="marker" th:classappend="${controlObject.temperatureClass}"></div>
                </div>
            </div>

        </div>

    </div>

    <div class="dropdown system hidden">
        <a>Проверить связь</a>
        <a>Перезапустить сканер</a>
    </div>
    <div class="dropdown directions hidden">
        <a href="/main">Главная страница контроля</a>
        <a href="/newArea">Создать новый объект контроля</a>
    </div>
    <div class="dropdown user hidden">
        <div class="myColumn">
            <div class="myRow"><text style="font-size: 11px">Текущий пользователь</text></div>
            <div class="myRow" style="justify-content: flex-start">
                <b th:utext="${user.getName}"></b>
                <b th:utext="${user.getSurname}"></b>
            </div>
            <div class="myRow"><text style="font-size: 11px">Права доступа</text></div>
            <div class="myRow" th:utext="${user.getRole}">
                <b th:utext="${user.getRole}"></b>
            </div>
        </div>
        <hr/>
        <a th:classappend="${adderClass}" href="/register">Зарегистрировать нового <br>пользователя</a>
        <a id="logout" href="#" th:href="@{/logout}">Log Out</a>
    </div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    let busy = false;
    let waiting = false;
    let last_command = 0;

    function wait_command(command){
        waiting = true;
        console.log("command " + command)
        console.log("last command " + last_command)
        console.log("busy " + busy)
        setTimeout(
            function (){
                if(command != last_command || busy == true){
                    console.log("continue waiting");
                    wait_command(last_command);
                }
                else{
                    moveAndView()
                    waiting = false;
                }
            },
            500
        );
    }



    function updateWeather(){
        fetch("/getWeather", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: null,
        })
            .then((response) => {
                response.text().then(function (data){
                    $(".weatherBar").html(data)
                })

            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
    setInterval(function(){
        updateWeather();
    }, 3000);

    let currentChanging;
    let currentData;

    $(".chooseAble>.areaInfo").each(function (){
        $(this).click(function (){
            currentChanging = $(this).attr('id');
            console.log("Current id: " + currentChanging)
            getCoordinatesDataById(currentChanging);
            $(".chooseAble>.areaInfo").each(function (){
                $(this).removeClass("selected");
            });
            $(this).addClass("selected")



        });
    });

    function saveCoordinates(x, y, areaHeight, areaWidth){
        let dataToSend = {};
        if(currentChanging == null){
            alert('Сначала выберите координаты какой зоны вы хотите изменить');
            return;
        }
        dataToSend["id"] = currentChanging;
        dataToSend["tiID"] = 1;
        dataToSend["horizontal"] = parseFloat($("#horizontal").val());
        dataToSend["vertical"] = parseFloat($("#vertical").val());
        dataToSend["focusing"] = parseFloat($("#focusing").val());

        dataToSend["x"] = parseInt(x);
        dataToSend["y"] = parseInt(y);
        dataToSend["areaHeight"] = parseInt(areaHeight);
        dataToSend["areaWidth"] = parseInt(areaWidth);

        let dataStringToSend = JSON.stringify(dataToSend);

        console.log(dataStringToSend);

        fetch("/setCoordinatesThermalViewer", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: dataStringToSend,
        })
            .then((response) => {
                response.text().then(function (data){
                    alert(data)
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }


    function getCoordinatesDataById(id){
        fetch("/getCoordinatesById?id=" + id, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: null,
        })
        .then((response) => {
            response.text().then(function (data){
                currentData = JSON.parse(data);
                console.log(currentData);

                if(currentData["focusing"] != null){
                    $("#focusing").val(currentData["focusing"]);
                }
                if(currentData["horizontal"] != null) {
                    $("#horizontal").val(currentData["horizontal"]);
                }
                if(currentData["vertical"] != null) {
                    $("#vertical").val(currentData["vertical"]);
                }
                $(".gotImg").attr("src", currentData["newUrl"]);
                console.log(currentData["newUrl"])

                let areaDiv = "<div class='sector' style='top:"+ currentData["y"] +"px; left:"+ currentData["x"] +"px; height:"+ currentData["areaHeight"] +"px; width:"+ currentData["areaWidth"] +"px;'></div>"
                console.log(areaDiv);
                $(".sector").remove();
                $(".gotImage").append(areaDiv);
            });
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    $(".main").click(function (){
        $(".system").addClass("hidden");
        $(".directions").addClass("hidden");
        $(".user").addClass("hidden");
    });

    $("#sysActions").click(function (){
        $(".directions").addClass("hidden");
        $(".user").addClass("hidden");
        $(".system").toggleClass("hidden");
    });
    $(".system").click(function (){
        $(".system").toggleClass("hidden");
    });

    $("#directActions").click(function (){
        $(".system").addClass("hidden");
        $(".user").addClass("hidden");
        $(".directions").toggleClass("hidden");
    });
    $(".directions").click(function (){
        $(".directions").toggleClass("hidden");
    });

    $("#userActions").click(function (){
        $(".system").addClass("hidden");
        $(".directions").addClass("hidden");
        $(".user").toggleClass("hidden");
    });
    $(".user").click(function (){
        $(".user").toggleClass("hidden");
    });


    let offset = $(".gotImage").offset();

    let h = $(".gotImage").height()
    let w = $(".gotImage").width()

    console.log("w:" + w)
    console.log("h:" + h)


    let firstPointCoordinate;

    let ready1 = 0;

    let firstCoordinate = null

    $(document).click(function (e){
        console.log("document click");
        let coordinateX = e.pageX - offset.left;
        let coordinateY = e.pageY - offset.top;
        console.log("(" + coordinateX + "; " + coordinateY + ")");
        if(ready1 == 3){
            $(".gotImage").addClass("readyToAdd");
        }
        else if(ready1 == 2){
            if(0 < coordinateX && coordinateX < w && 0 < coordinateY && coordinateY < h){

                $(".selectorPoint").remove();
                $(".sector").remove();


                let p1 = "<div class='selectorPoint' style='top:"+ (coordinateY-2) +"px; left:"+ (coordinateX - 2) +"px;'></div>"
                firstCoordinate = [coordinateX, coordinateY];

                $(".gotImage").append(p1);


            }
            else{
                $(".gotImage").removeClass("readyToAdd");
                firstCoordinate = null;
                ready1 = 0;
            }
        }
        else if(ready1 == 1 && firstCoordinate != null){
            $(".selectorPoint").remove();

            if(0 < coordinateX && coordinateX < w && 0 < coordinateY && coordinateY < h){
                let areaWidth = Math.abs(coordinateX - firstCoordinate[0]);
                let areaHeight = Math.abs(coordinateY - firstCoordinate[1]);

                let x = Math.min(coordinateX, firstCoordinate[0]);
                let y = Math.min(coordinateY, firstCoordinate[1]);

                let areaDiv = "<div class='sector' style='top:"+ y +"px; left:"+ x +"px; height:"+ areaHeight +"px; width:"+ areaWidth +"px;'></div>"

                $(".gotImage").append(areaDiv);

                saveCoordinates(x, y, areaHeight, areaWidth);
                console.log("ok")
            }

            $(".gotImage").removeClass("readyToAdd");
            firstCoordinate = null;
        }


        ready1 -= 1;
        if (ready1 < 0){
            ready1 = 0;
        }

        console.log(ready1);

    });


    $("#newArea").click(function (){
        ready1 = 3;
        console.log("Ready to add")
    });


    function moveAndView(){
        
        busy = true;
        console.log("setting busy to " + busy )
        let bodyToGoto = {};
        bodyToGoto["tiId"] = 1
        bodyToGoto["horizontal"] = parseFloat($('#horizontal').val())
        bodyToGoto["vertical"] = parseFloat($('#vertical').val())
        bodyToGoto["focusing"] = parseFloat($('#focusing').val())


        console.log(JSON.stringify(bodyToGoto));

        fetch("/gotoAndGetImage", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(bodyToGoto),
        })
        .then((response) => {
            response.text().then(function (data){

                currentData = JSON.parse(data);
                if(currentData["newUrl"] == 'error'){
                    moveAndView();
                }
                else{
                    console.log(currentData);


                    $(".gotImg").attr("src", currentData["newUrl"]);

                    console.log(currentData["newUrl"])

                    $(".sector").remove();

                    busy = false;
                    console.log("setting busy to " + busy )
                }

            });
        })
        .catch((error) => {
            console.error('Error:', error);
            busy = false;
            console.log("setting busy to " + busy )
        })
    }

    $('.change').each( function (){
       $(this).change(function (){
           last_command += 1;
           if(waiting == false){
               console.log('begin waiting');
               wait_command(last_command);
           }
       });
    });


    $('.up').click(function (){
        last_command += 1;
        console.log("up");

        $("#vertical").val(parseFloat($("#vertical").val()) + parseFloat($("#step").val()));
        if(waiting == false){
            console.log('begin waiting');
               wait_command(last_command);
        }


    })
    $('.down').click(function (){
        last_command += 1;
        console.log("down");
        $("#vertical").val(parseFloat($("#vertical").val()) - parseFloat($("#step").val()));
        if(waiting == false){
            console.log('begin waiting');
               wait_command(last_command);
        }
    })
    $('.left').click(function (){
        last_command += 1;
        console.log("left");

        let newVal = parseFloat($("#horizontal").val()) - parseFloat($("#step").val())
        if(newVal< 0){
            newVal += 360;
        }
        if(newVal>= 360){
            newVal -= 360;
        }

        $("#horizontal").val(newVal);
        if(waiting == false){
            console.log('begin waiting');
               wait_command(last_command);
        }
    })
    $('.right').click(function (){
        last_command += 1;
        console.log("right");

        let newVal = parseFloat($("#horizontal").val()) + parseFloat($("#step").val())
        if(newVal< 0){
            newVal += 360;
        }
        if(newVal>= 360){
            newVal -= 360;
        }

        $("#horizontal").val(newVal);
        if(waiting == false){
            console.log('begin waiting');
               wait_command(last_command);
        }
    });

    $('#logout').click(function (){
        fetch("/setTINotInUse", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: null,
        })
    })


    $("#autoFocusing").click(function (){
        if(!busy){
            busy = true;
            fetch("/autoFocusing?thermalImagerId=1", { //ID!!!
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: null,
            })
            .then((response) => {
                response.text().then(function (data){

                    currentData = JSON.parse(data);
                    console.log(currentData);

                    $(".gotImg").attr("src", currentData["newUrl"]);
                    $("#focusing").val(currentData["focus"]);

                    $(".sector").remove();

                    busy = false;
                    console.log("setting busy to " + busy )
                });
            })
            .catch((error) => {
                console.error('Error:', error);
                busy = false;
                console.log("setting busy to " + busy )
            });
        }
    })

    $(document).ready(moveAndView());

</script>
</html>
